<header class="site-header">

  <div class="wrapper">
    <div class="face">
          <a href="{{ site.url }}">
              <img title="Victor Valente"
                   alt="Victor Valente"
                   src="/images/profile_pic.jpeg"
                   class="photo" 
              />
          </a>
    </div>

    <a class=hidden-link href="{{ site.url }}">
      <div>
        <h3>Victor Valente</h3>
        <p class="site-description">{{site.description}}</p>
      </div>
    </a>

    <ul class="social-media-list">
      <li>
        {% include icon-linkedin.html username=site.linkedin_username %}
      </li>
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      <li>
        {% include icon-mail.html %}
      </li>
      <li>
        {% include icon-rss.html %}
      </li>

    </ul>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="/posts">Posts</a>
        {% for my_page in site.pages %}
            {% if my_page.title %}
                <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
